*{
  margin: 0px;
}
body{
  background-color: rgb(231, 220, 220);
}

.app__header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  margin-top: 10px;


}

.app__stats{
  display: flex;
  justify-content: space-between;
}
