*{
  margin: 0px;
}
body{
  background-color: rgb(255, 255, 255);
}

.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__right{
  height: 1000px;
  padding: 2rem;
  border-radius:  80px;
  margin-top: 16px;
  box-shadow: 0 0 10px rgba(0,0,0,0.7);

}

.app__header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  margin-top: 10px;


}
.app__dropdown{
  width: 400px;
  background-color: gainsboro;
}

.graph{
  height:200px;
  width: 1000px;
  padding-top: 50px;
}

.app__left{
  flex: 0.8;
  padding: 1rem;
  border-radius:  12px;
  margin-top: 3px;
  box-shadow: 0 0 10px rgba(0,0,0,0.9);
}
.app__stats{
  display: flex;
  justify-content: space-between;
 
}

@media (max-width: 998px){
  .app{
    flex-direction: column;
  }
}