*{
  margin: 0px;
}
body{
  background-color: rgb(255, 255, 255);
}

.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}


.app__header{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  margin-top: 10px;


}

.app__left{
  flex: 0.9;
}
.app__stats{
  display: flex;
  justify-content: space-between;
}

@media (max-width: 998px){
  .app{
    flex-direction: column;
  }
}